[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
tweepy = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
get-followers = "python main.py"